html {height: 100%; width: 100%;}
@font-face {font-family: okfont; src: url('Okfont-Regular.tff');} 
  h1 {font-family: okfont}
  h2 {font-family: okfont}
  a {font-family: okfont}
  p {font-family: okfont}
  button {font-family: okfont}
a {color:slateblue}
h1 {color:dodgerblue}
h2 {color:steelblue}
body {background-color:black}
p {color:white}
.centeraligned {text-align: center;}
